.lv-msg-carrossel {
    margin-top: 8px;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    &-box {
      display: inline-block;
      border-radius: 8px;
      border: 1px rgba(126,125,194,1) solid;
      margin: 8px 12px 8px 0;
      box-sizing: border-box;
      padding: 10px 14px 56px 14px;
      min-width: 200px;
      max-width: 230px;
      background: white;
      color: rgba(42,41,130,1);
      vertical-align: top;
      min-height: 172px;
      position: relative;
      &:first-child {
        margin-left: 88px;
      }
      p {
        margin: 0;
        font-size: 14px;
      }
    }
    &-content {
      display: block;
      margin-bottom: 4px;
    }
    &-listcontent {
      margin-bottom: 4px;
      font-size: 14px;
      font-weight: bold;
      padding-left: 16px;
      list-style: disc;
      li {
        white-space: normal;
        margin-bottom: 2px;
        line-height: 18px;
      }
    }
    &-more {
      cursor: pointer;
      color: rgba(237,7,126,1);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 16px;
      text-align: center;
      border-radius: 0 0 8px 8px;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 16px;
      font-weight: bold;
      border-top: 1px rgba(220,220,220,1) solid;
      @include transition(background-color .4s, color .4s, border-top .4s);
      &:hover {
        border-top: 1px rgba(40,39,129,1) solid;
        color: white;
        background-color: rgba(40,39,129,1);
      }
    }
  }
  