
$msg-client-background: $tertiary;
$msg-client-color: white;

@mixin teste($p,$m) {
  padding: $p;
  margin: $m;
}

.lv-msg-wrap-client {
  float: right;
  padding: 15px 20px;
  border-radius: 10px 0px 10px 10px;
  margin: 0px 20px 6px 48px;
  color: $msg-client-color;
  font-weight: 200;
  font-size: 13px; //Alterado para 13px
  background-color: $msg-client-background;
  &:after{
    position: absolute;
    right: -2px;
    top: 0;
    content:"";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 0;
    height: 100;

    border-top: 0px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid $msg-client-background;
    // border-right: 15px solid white;
  }
  p {
    padding: 0;
    margin: 0;
    word-break: break-all;
  }
}
